.button {
    -fx-font-size: 20px;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.button:hover {

    -fx-background-color: #c0c0c0;

    transition: -fx-background-color 0.5s ease,
    -fx-font-size 0.5s ease;


}
.button:pressed{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 0, 0, 1);
    -fx-translate-y: 1;
}



